/*?? General Sans Font Import  */
@font-face {
  font-family: "Sans-Thin";
  src: url("/public/fonts/GeneralSans/GeneralSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Sans-Bold";
  src: url("/public/fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Sans-Var";
  src: url("/public/fonts/GeneralSans/GeneralSans-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Sans-Var-Italic";
  src: url("/public/fonts/GeneralSans/GeneralSans-VariableItalic.woff2") format("woff2");
}

/*?? Zodiak Font Import */
@font-face {
  font-family: "Zodiak-Thin";
  src: url("/public/Fonts/Zodiak/Zodiak-Thin.ttf");
}

@font-face {
  font-family: "Zodiak-Bold";
  src: url("/public/Fonts/Zodiak/Zodiak-Bold.ttf");
}

@font-face {
  font-family: "Zodiak-Var";
  src: url("/public/Fonts/Zodiak/Zodiak-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Zodiak-Var-Italic";
  src: url("/public/Fonts/Zodiak/Zodiak-VariableItalic.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background: #f9f2ed;
}

main {
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 270px;
  gap: 1rem;
}

nav p {
  position: relative;
  z-index: 10000;
  font-family: "Sans-Var";
  font-weight: 500;
  color: #121111;
  font-size: 0.8rem;
}

nav .nav-lines {
  position: relative;
  z-index: 10000;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

nav .nav-lines .line {
  width: 100%;
  height: 1px;
  background: #121111;
}

nav .nav-content {
  z-index: 9999;
  width: 100%;
  height: 300px;
  background: #e7dcd5;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-inline: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

nav .nav-content a {
  color: #121111;
  text-transform: uppercase;
  text-decoration: none;
  text-align: start;
  width: 100%;
  font-family: "Sans-Var";
  font-weight: 600;
  font-size: 1.7rem;
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: relative;
}

nav .nav-content h1 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.landing {
  overflow: hidden;
}

.landing .landing-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.landing .landing-content .landing-text {
  z-index: 120;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #121111;
}

.landing .landing-content .landing-text h1 {
  font-family: "Zodiak-Var";
  font-weight: 400;
  font-size: 5rem;
  white-space: nowrap;
  line-height: 5.5rem;
}

.landing .landing-content .landing-text h3 {
  font-family: "Sans-Var";
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  opacity: 0.8;
}

.landing .landing-content .landing-images {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .landing-content .landing-images .images {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 5rem;
}

.landing .landing-content .landing-images .images .Image {
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background: white;
}

.landing .landing-content .landing-images .images .Image img {
  width: 80px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.page-2 {
  padding-block: 5px;
  background: #121111;
  position: relative;
}

section.page-2 .text {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  gap: 1rem;
  font-family: "Sans-Var";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}

section.page-2 .text .headings {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.page-2 .text .headings h1 {
  text-align: center;
  white-space: nowrap;
}

section.page-2 .text .paras {
  width: 300px;
  font-size: 0.9rem;
  text-align: center;
}

section.page-2 .text .paras span {
  font-family: "Sans-Var-Italic";
}

section.page-2 .rotating-images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.page-2 .rotating-images .r_images {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
}

section.page-2 .rotating-images .r_images .r_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: visible;
}

section.page-2 .rotating-images .r_images .r_image .r_child {
  height: 100px;
  width: 90vh;
  aspect-ratio: 1;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.page-2 .rotating-images .r_images .r_image .r_child .r_object {
  height: 100%;
  aspect-ratio: 1;
  background: white;
  padding: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section.page-2 .rotating-images .r_images .r_image .r_child .r_object img {
  pointer-events: none;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fffef5;
  z-index: 10000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 6;
  grid-area: 6px;
}

.loader .loading {
  width: 300px;
  height: 2px;
  background: #cecece;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.loader .loading .loading-line {
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Sans-Var';
  font-weight: 500;
  text-align: center;
}

.page-3 span {
  font-weight: 600;
}

.page-3 a {
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  .landing .landing-content .landing-text h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .landing .landing-content .landing-text h3 {
    font-size: .7rem;
  }
}

@media (max-width: 500px) {
  section.page-2 .text .headings {
    font-size: .8rem;
    line-height: 1rem;
  }
  section.page-2 .text .paras {
    font-size: .7rem;
    width: 200px;
  }
  section.page-2 .rotating-images .r_images .r_child {
    width: 60vh !important;
    height: 60px !important;
  }
}
/*# sourceMappingURL=style.css.map */